<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lam.model.mapper.BlogMapper">

    <update id="addLike" parameterType="long">
        update blog set blog.isLike=blog.isLike+1 where txtId =#{blogId};
    </update>

    <update id="deleteLike" parameterType="long">
        update  blog set blog.isLike=blog.isLike-1 where txtId =#{blogId};
    </update>

    <select id="getHot" resultType="com.lam.model.entity.po.Blog">
        select * from blog where isDelete=0 order by isLike DESC limit 0,10;
    </select>

</mapper>